<div id="content"[ngClass]="status ? 'hide' : ''">
<div class="container">
    <h2> Objective {{housingLocation?.ob_Name}} </h2>
    <ul class="responsive-table">
      <li class="table-header">
        <div class="col col-1">Job Id</div>
        <div class="col col-2">Customer Name</div>
        <div class="col col-3">Amount Due</div>
        <div class="col col-4">Payment Status</div>
      </li>
      <li class="table-row">
        <div class="col col-1" data-label="Job Id">{{housingLocation?.goal}}</div>
        <div class="col col-2" data-label="Customer Name">{{housingLocation?.initial_date}}</div>
        <div class="col col-3" data-label="Amount">{{housingLocation?.final_date}}</div>
        <div class="col col-4" data-label="Payment Status">{{housingLocation?.status}}</div>
      </li>
      <div class="bu">
      <button type="button" (click)="redirectToPage(housingLocation?.id)" class="primary">Edit Objective</button> 
      <button type="button" class="delete" (click)="deleteTask()" >Delete Task</button>
    </div>
    </ul>
  </div>
  <h2>Activity List </h2>
  <ng-container *ngFor="let location of housingLocationList">
  <div class="container">
    <h2> Objective {{location.ob_Name}} </h2>
    <ul class="responsive-table">
      <li class="table-header">
        <div class="col col-1">Job Id</div>
        <div class="col col-2">Customer Name</div>
        <div class="col col-3">Amount Due</div>
        <div class="col col-4">Payment Status</div>
      </li>
      <li class="table-row">
        <div class="col col-1" data-label="Job Id">{{location.goal}}</div>
        <div class="col col-2" data-label="Customer Name">{{location.initial_date}}</div>
        <div class="col col-3" data-label="Amount">{{location.final_date}}</div>
        <div class="col col-4" data-label="Payment Status">{{location.status}}</div>
      </li>
      <div class="bu">
        <button type="button" (click)="redirectToeditactivityPage(location?.id)" class="primary">Edit Objective</button> 
        <button type="button" class="delete" (click)="deleteAct(location?.id)" >Delete Task</button>
      </div>
    </ul>
  </div>
</ng-container>
<div class="act">
<button type="button" (click)="redirectToactivityPage(housingLocation?.id)" class="primary">Add Activity</button> 
</div>
</div>