<!-- SIDEBAR -->
<section id="sidebar" [ngClass]="status ? 'hide' : ''">
  <a href="#" class="brand">
    <i class='bx bxs-smile'></i>
    <span class="text">AdminHub</span>
  </a>
  <ul class="side-menu top">
      <li class="active">
        <a [routerLink]="['/home/dashboard']">
          <i class='bx bxs-dashboard'></i>
          <span class="text">Dashboard</span>
        </a>
        </li>
        
    <li class="dropdown" (click)="toggleDropdown('objectives', $event)">
      <a href="javascript:void(0)" class="dropbtn">
        <i class='bx bxs-shopping-bag-alt' ></i> <!-- Placeholder for your icon -->
        <span class="text">Objectives</span>
        <i class='bx bx-chevron-down arrow'></i> <!-- Down arrow icon -->
      </a>
      <div class="dropdown-content" [class.show]="dropdowns['objectives']">
        <a [routerLink]="['/home/tasks']">Create Objective</a>
        <a [routerLink]="['/home/obj']">Manage Objective</a>
      </div>
    </li>
    
    

    <li class ="dropdown" (click)="toggleDropdown('terms', $event)">
      <a href="javascript:void(0)" class="dropbtn">
        <i class='bx bxs-doughnut-chart' ></i> <!-- Placeholder for your icon -->
        <span class="text">Terms</span>
        <i class='bx bx-chevron-down arrow'></i> <!-- Down arrow icon -->
      </a>
      <div class="dropdown-content" [class.show]="dropdowns['terms']">
        <a [routerLink]="['/home/addterm']">Create Terms</a>
        <a [routerLink]="['/home/terms']">Manage Terms</a>
      </div>
    </li>
    <li>
      <a href="#">
        <i class='bx bxs-message-dots' ></i>
        <span class="text">Message</span>
      </a>
    </li>
    <li>
      <a href="#">
        <i class='bx bxs-group' ></i>
        <span class="text">Team</span>
      </a>
    </li>
  </ul>
  <ul class="side-menu">
    <li>
      <a href="#">
        <i class='bx bxs-cog' ></i>
        <span class="text">Settings</span>
      </a>
    </li>
    <li>
      <a (click)="logout()" class="logout">
        <i class='bx bxs-log-out-circle'></i>
        <span class="text">Logout</span>
      </a>
      
    </li>

  </ul>
</section>
<!-- SIDEBAR -->
